body {
    background-image: url(blur1.jpg!sw800);
    background-size: cover;
    height: 100vh;
    background-position: center;
  }
  .main {
    height: 45vh;
    width: 40vw;
    /* background-color: red; */
    border: 1px solid grey;
    border-radius: 20px;
    position: absolute;
    left: 30%;
    top: 20%;
    padding-top: 50px;
  }
  label{
    font-size: larger;
  }